/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  box-sizing: border-box;
  background-color: #EDECE8;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a:link, a:visited {
    text-decoration: none;
    color: #F2757C;
}
a {
    margin: 0;
}

body {
  font-family: Verdana, arial, sans-serif; 
  margin: 0 auto;
  max-width: 1160px; 
      border-left: 12px solid #282647;
    border-right: 12px solid #282647;
    
}
h1, 
h2,
h3,
h4, 
h5 {
    font-family: 'barrioregular', sans-serif;
    color: #F2757C;
    margin: 0;
}
h2,
h3,
h4, 
h5 { 
    font-weight: normal;
}
.col-1-2 {
    width: 50%;
}
.col-1-4 {
    width: 25%;
}
.col-3-4 {
    width: 75%;
}
.col-1-3 {
    width: 33.33%;
}
.col-2-3 {
    width: 66.66%;
}
.col-1-6 {
    width: 16.66%;
}
.secondary_nav {
    float: left;
    font-size: 75%;
    padding-top: 10px;
    line-height: 1em;
}

header  {
    margin: 0;
    line-height: 1em;
    background-color: #282647;
}
.logo {
    padding-top: 30px;
    padding-bottom: 14px;
    margin: 0;
}
.header_content {
    float: right;
}
div.secondary_nav a {
    display: block;
    text-align: right;
    font-size: 87.5%;
}
div.secondary_nav input {
   margin-left: 10px;
}
input {
    border-radius: 5px;
    border-color: #bbb;
    max-width: 50%;
    margin-left: 5px;
}
.form {
    padding: 20px;
    font-size: 65%;
    margin: 25px 50px;
    background-color: #282647;
    color: #F2757C;
    border-radius: 5px;
}
.meetyourdog_main_section h3 {
    text-align: center;
    padding: 15px 0px;
    font-size: 220%;
    font-weight: normal;
}
.inverse_button {
    border-radius: 5px;
    background-color: #fff;
    text-decoration: none;
    padding: 2px 10px;
    color: #F2757C;
    font-size: 85%;
    text-align: center;
    border: 2px solid #F2757C;
    font-weight: bold;
    margin-left: 60px;
} 
.clear {
    clear: both;
}
option {
    color: #ccc;
}
select {
    width: 60%;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.main_nav {
    position: relative;
}
nav ul {
    list-style: none;
}
nav li {
    float: left;
    padding-bottom: 8px;
}
nav li li {
    float: none;
    background-color: #282647;
    font-size: 75%;
    color: #F2757C;
    padding: 0px 5px 5px 5px;
}
nav li a {
    display: block;
    padding: 5px;
    font-size: 85%;
}
nav li ul {
    display: none;
    position: absolute;
    padding: 0;
}
nav li:hover ul {
    display: block;
    z-index: 100000;
}
a.active_page {
    color: #fff;
}
div.fl {
    float: left;
}
img {
    max-width: 100%;
    border-radius: 5px;
}
nav li a:hover {
    color: #fff;
}
.small_button {
    border-radius: 5px;
    background-color: #282647;
    text-decoration: none;
    padding: 5px;
    color: #F2757C;
    font-size: 62.5%;
} 
.large_button {
    border-radius: 5px;
    background-color: #282647;
    text-decoration: none;
    padding: 5px;
    color: #F2757C;
    font-size: 75%;
    text-align: center;
} 
.description {
    text-align: right;
}
.jumbotron {
    border: 3px solid #282647;
    margin: 25px 50px;
    border-radius: 7px;
}
.feature_content {
    padding: 10px 30px;
    line-height: 1.3em;
}
.side_content {
    padding: 20px 20px 40px;
    border: 2px solid #F2757C;
    margin-bottom: 30px;
    border-radius: 5px;
    font-size: 87.5%;
    margin-left: 20px;
}
.side_content h5 {
    font-size: 120%;
    font-weight: normal;
}
.side_content p {
    font-size: 70%;
}
.fact_container {
    background-color: #282647;
    text-align: center;
    color: #F2757C;
}
.fact_container p {
    font-family: 'barrioregular', sans-serif;
    font-size: 300%;
    margin: 0;
} 
.fact_container h5 {
   letter-spacing: .9px;
   font-family: Verdana;
   font-size: 87.5%;
   padding-bottom: 20px;
   margin: 0;
} 

.page_subsection {
    margin-bottom: 25px;
    border-bottom: 1px solid #ccc;
}
.page_subsection h3 {
    padding-top: 25px;
}
.thumbnail img {
    height: 100px;
    width: 100px;
    border-bottom: 5px solid #EDECE8;
    border-radius: 10px;
}
.thumbnail p {
    font-size: 77.5%;
}
.thumbnail h4 {
    font-size: 100%;
}
h3 {
    font-size: 150%;
}
.main_section {
    float: left;
    padding: 0px 60px;
    margin: 0 auto;
}
.blog_main_section {
    margin: 25px 50px;
    font-size: 87.5%;
}
.blog_post h5 {
    font-size: 115%;
    padding-top: 20px;
    font-weight: normal; 
}
.blog_main_section h3 {
    text-align: center;
    padding: 20px 20px;
    border-bottom: 2px solid #ccc;
}
.blog_post {
    border-bottom: 2px solid #ccc;
    padding-bottom: 15px;
}
.blog_post a {
    float: right;
}
div.blog_post img {
    height: auto;
    width: 40%;
}
.blog_author {
    font-size: 68%;
}
.textwrap {
    float: left;
    margin: 10px 10px 10px 0px;
}
.fr {
    float: right;
}

footer {
    clear: both;
    background-color: #282647;
    padding: 30px;
     color: #F2757C;
}
footer p {
    text-align: right;
    margin: 0;
}
footer a {
    padding-right: 10px;
}
article h4 {
    margin: 0;
    font-size: 87.5%;
}
article p {
    margin: 0;
    font-size: 87.5%;
}










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
